[project]
	description = This is a bank project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yaparla
[access "refs/for/refs/*"]
	read = group user/yaparla
	push = group user/yaparla
	label-Code-Review = -2..+2 group user/yaparla
	label-Verified = -1..+1 group user/yaparla
	rebase = group user/yaparla
	removeReviewer = group user/yaparla
	submit = group user/yaparla
[access "refs/heads/*"]
	read = group user/yaparla
	create = group user/yaparla
	push = +force group user/yaparla
	pushMerge = group user/yaparla
[access "refs/tags/*"]
	push = +force group user/yaparla
	pushTag = group user/yaparla
	pushSignedTag = group user/yaparla
